.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-red-dimmed);
  color: var(--color-red-bright);
  font-size: 1.5rem;
  font-variant-caps: all-small-caps;
}
