.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  width: 4rem;
  border-bottom-right-radius: 2rem;
  background-color: #11111177;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-property: height, width;
  overflow: hidden;
}
.visible {
  width: 100vw;
  height: 100vh;
  border-bottom-right-radius: 0;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100vw;
  height: 100vh;
  padding: 0.5rem 1rem 1rem;
  box-sizing: border-box;
}
.settingsTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.toggleIcon {
  color: #ffffffaa;
  font-size: 2rem;
  line-height: 1rem;
  padding: 0.5rem 0;
}
.closeIcon {
  color: #ffffffaa;
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-tally-inactive);
}

.settingsPane {
  flex-grow: 1;
  bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--color-tally-inactive);
  color: #eee;
}
.settingTallySelection {
  display: block;
}

.content {
  flex-grow: 1;
  display: grid;
}
