$numberFontSize: 10vw;

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  background-color: #000;
}
.tally {
  position: relative;
  background-color: #333;
  color: var(--color-tally-font);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $numberFontSize;
}

.isPreview::after {
  content: "";
  position: absolute;
  border-radius: 0.125em;
  background-color: var(--color-tally-preview);
  width: 80%;
  height: 0.25em;
  transform: translateY(-$numberFontSize);
}

.isProgram {
  background-color: var(--color-tally-program);
}
